.card {
      padding: 40px 0;
        background: rgb(224, 224, 224);
}

    .cards {
         width: 100%;
         max-width: 1000px;
         margin: 0 auto;
         padding-top: 60px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 20px;
         /* grid-column-start: 2;
         grid-column-end: five; */

     }

      img {
         width: 100%;
     }

       .description {
         color: #333;
         padding: 12px;
     }
