<div class="container mx-auto text-white">
    <%= render 'layouts/navbar' %>
    <div class="flex justify-center my-4">

        <h1 class="text-3xl font-bold underline ">
            Next Level Recon
        </h1>

    </div>
    <%= image_tag "alexcard1024_1.jpg", class: "dark:bg-slate-800" %>
</div>